USE [PK]
GO
/****** Object:  Table [dbo].[ASIGNACION_TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_TAREA](
	[COD_ASIGNACION_TAREA] [int] IDENTITY(1,1) NOT NULL,
	[COD_TAREA] [int] NULL,
	[COD_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ASIGNACION_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPUTACION]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPUTACION](
	[COD_INPUTACION] [nvarchar](10) NOT NULL,
	[IMP_MES] [int] NOT NULL,
	[IMP_ANIO] [int] NOT NULL,
	[IMP_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_INPUTACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[COD_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[PRO_DESCRIPCION] [nvarchar](150) NULL,
	[COD_USUARIO_JEFE] [int] NULL,
	[PRO_FECHA] [date] NULL,
	[PRO_ESTADO] [int] NULL,
	[PRO_CLIENTE_NOMBRE] [nvarchar](150) NULL,
	[COD_CLIENTE] [nvarchar](150) NULL,
	[PRO_NOMBRE] [nvarchar](150) NULL,
	[FECHA_ACTUALIZACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIPCION] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_PROYECTO](
	[COD_SUB_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[SPR_DESCRIPCION] [nvarchar](150) NULL,
	[SPR_FECHA_CREACION] [date] NULL,
	[COD_PROYECTO] [int] NULL,
	[SPR_NOMBRE] [nvarchar](150) NULL,
	[SPR_FECHA_INICIO_ESTIMADA] [date] NULL,
	[SPR_FECHA_FIN_ESTIMADA] [date] NULL,
	[SPR_FACTURABLE] [bit] NULL,
	[SPR_RESUMEN] [bit] NULL,
	[COD_TIPO_SUB_PROYECTO] [int] NULL,
	[SPR_FECHA_ACTUALIZACION] [date] NULL,
	[COD_USUARIO_ENCARGADO] [int] NULL,
	[SPR_ESTADO] [int] NULL,
	[SPR_NRO_MEJORA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_SUB_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREA](
	[COD_TAREA] [int] IDENTITY(1,1) NOT NULL,
	[TAR_DESCRIPCION] [nvarchar](250) NULL,
	[TAR_FECHA] [date] NULL,
	[TAR_HORAS_PLANIFICADAS] [float] NULL,
	[COD_SUB_PROYECTO] [int] NULL,
	[TAR_HORAS_IMPUTADAS] [float] NULL,
	[TAR_HORAS_ACTUALES] [float] NULL,
	[TAR_FECHA_INICIO_ESTIMADA] [date] NULL,
	[TAR_FECHA_FIN_ESTIMADA] [date] NULL,
	[TAR_ESTADO] [int] NULL,
 CONSTRAINT [PK__TAREA__DA8B0922E772879D] PRIMARY KEY CLUSTERED 
(
	[COD_TAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SUB_PROYECTO](
	[COD_TIPO_SUB_PROYETO] [int] IDENTITY(1,1) NOT NULL,
	[TSP_DESCRIPCION] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TIPO_SUB_PROYETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USU_NOMBRE] [nvarchar](70) NULL,
	[USU_APELLIDO] [nvarchar](70) NULL,
	[USU_CORREO] [nvarchar](150) NULL,
	[USU_CONTRASENIA] [nvarchar](100) NULL,
	[USU_ESTADO] [int] NULL,
	[COD_ROL] [int] NULL,
	[USU_FECHA_NAC] [date] NULL,
	[USU_HORA_CONTRATADA] [float] NULL,
	[USU_VALOR_HORA] [float] NULL,
	[USU_COD_JEFE] [int] NULL,
	[ID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASIGNACION_TAREA] ON 

INSERT [dbo].[ASIGNACION_TAREA] ([COD_ASIGNACION_TAREA], [COD_TAREA], [COD_USUARIO]) VALUES (68, 38, 10511)
INSERT [dbo].[ASIGNACION_TAREA] ([COD_ASIGNACION_TAREA], [COD_TAREA], [COD_USUARIO]) VALUES (69, 38, 10512)
SET IDENTITY_INSERT [dbo].[ASIGNACION_TAREA] OFF
GO
INSERT [dbo].[IMPUTACION] ([COD_INPUTACION], [IMP_MES], [IMP_ANIO], [IMP_ESTADO]) VALUES (N'102022', 10, 2022, 1)
INSERT [dbo].[IMPUTACION] ([COD_INPUTACION], [IMP_MES], [IMP_ANIO], [IMP_ESTADO]) VALUES (N'112022', 11, 2022, 1)
INSERT [dbo].[IMPUTACION] ([COD_INPUTACION], [IMP_MES], [IMP_ANIO], [IMP_ESTADO]) VALUES (N'12021', 1, 2021, 1)
GO
SET IDENTITY_INSERT [dbo].[PROYECTO] ON 

INSERT [dbo].[PROYECTO] ([COD_PROYECTO], [PRO_DESCRIPCION], [COD_USUARIO_JEFE], [PRO_FECHA], [PRO_ESTADO], [PRO_CLIENTE_NOMBRE], [COD_CLIENTE], [PRO_NOMBRE], [FECHA_ACTUALIZACION]) VALUES (87, N'Rendiciones', 10511, CAST(N'2021-01-12' AS Date), 1, N'LUIS ANDRES ARAYA', N'13667832C', N'B1 EXPENSES', CAST(N'2021-01-12' AS Date))
SET IDENTITY_INSERT [dbo].[PROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([COD_ROL], [ROL_DESCRIPCION]) VALUES (1, N'administrador')
INSERT [dbo].[ROL] ([COD_ROL], [ROL_DESCRIPCION]) VALUES (2, N'usuario')
INSERT [dbo].[ROL] ([COD_ROL], [ROL_DESCRIPCION]) VALUES (3, N'consultor')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[SUB_PROYECTO] ON 

INSERT [dbo].[SUB_PROYECTO] ([COD_SUB_PROYECTO], [SPR_DESCRIPCION], [SPR_FECHA_CREACION], [COD_PROYECTO], [SPR_NOMBRE], [SPR_FECHA_INICIO_ESTIMADA], [SPR_FECHA_FIN_ESTIMADA], [SPR_FACTURABLE], [SPR_RESUMEN], [COD_TIPO_SUB_PROYECTO], [SPR_FECHA_ACTUALIZACION], [COD_USUARIO_ENCARGADO], [SPR_ESTADO], [SPR_NRO_MEJORA]) VALUES (28, N'Planificación', CAST(N'2021-01-12' AS Date), 87, N'Planificar proyecto', CAST(N'2021-01-15' AS Date), CAST(N'2021-01-22' AS Date), 1, 0, 1, CAST(N'2021-01-12' AS Date), 10511, 2, 3)
SET IDENTITY_INSERT [dbo].[SUB_PROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TAREA] ON 

INSERT [dbo].[TAREA] ([COD_TAREA], [TAR_DESCRIPCION], [TAR_FECHA], [TAR_HORAS_PLANIFICADAS], [COD_SUB_PROYECTO], [TAR_HORAS_IMPUTADAS], [TAR_HORAS_ACTUALES], [TAR_FECHA_INICIO_ESTIMADA], [TAR_FECHA_FIN_ESTIMADA], [TAR_ESTADO]) VALUES (38, N'Plan de planificación', CAST(N'2021-01-12' AS Date), 45, 28, 10, 45, CAST(N'2021-01-15' AS Date), CAST(N'2021-01-22' AS Date), 1)
SET IDENTITY_INSERT [dbo].[TAREA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_SUB_PROYECTO] ON 

INSERT [dbo].[TIPO_SUB_PROYECTO] ([COD_TIPO_SUB_PROYETO], [TSP_DESCRIPCION]) VALUES (1, N'Desarrollo')
INSERT [dbo].[TIPO_SUB_PROYECTO] ([COD_TIPO_SUB_PROYETO], [TSP_DESCRIPCION]) VALUES (2, N'Consultoria')
INSERT [dbo].[TIPO_SUB_PROYECTO] ([COD_TIPO_SUB_PROYETO], [TSP_DESCRIPCION]) VALUES (3, N'Soporte')
SET IDENTITY_INSERT [dbo].[TIPO_SUB_PROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_NOMBRE], [USU_APELLIDO], [USU_CORREO], [USU_CONTRASENIA], [USU_ESTADO], [COD_ROL], [USU_FECHA_NAC], [USU_HORA_CONTRATADA], [USU_VALOR_HORA], [USU_COD_JEFE], [ID]) VALUES (10511, N'Vicente', N'Muñoz', N'vicente.munoz@kyros.cl', N'qazxsw2134e', 1, 1, CAST(N'1999-02-24' AS Date), 8, 1000, 10511, N'VMuñoz')
INSERT [dbo].[USUARIO] ([COD_USUARIO], [USU_NOMBRE], [USU_APELLIDO], [USU_CORREO], [USU_CONTRASENIA], [USU_ESTADO], [COD_ROL], [USU_FECHA_NAC], [USU_HORA_CONTRATADA], [USU_VALOR_HORA], [USU_COD_JEFE], [ID]) VALUES (10512, N'Rosa', N'Oliva', N'Rosa@gmail.com', N'qazxsw2134e', 0, 3, CAST(N'1980-01-01' AS Date), 8, 1000, 10511, N'ROliva')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA]  WITH CHECK ADD  CONSTRAINT [FK__ASIGNACIO__COD_T__4F7CD00D] FOREIGN KEY([COD_TAREA])
REFERENCES [dbo].[TAREA] ([COD_TAREA])
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA] CHECK CONSTRAINT [FK__ASIGNACIO__COD_T__4F7CD00D]
GO
ALTER TABLE [dbo].[ASIGNACION_TAREA]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[SUB_PROYECTO]  WITH CHECK ADD FOREIGN KEY([COD_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([COD_PROYECTO])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([COD_SUB_PROYECTO])
REFERENCES [dbo].[SUB_PROYECTO] ([COD_SUB_PROYECTO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([COD_ROL])
REFERENCES [dbo].[ROL] ([COD_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([USU_COD_JEFE])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_ESTADO_IMPUTACION]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_ESTADO_IMPUTACION]
@ESTADO INT ,
@COD_IMPUTACION NVARCHAR(10)
AS
UPDATE IMPUTACION SET IMP_ESTADO = @ESTADO WHERE COD_INPUTACION =  @COD_IMPUTACION
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_ASIGNACION_TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_ASIGNACION_TAREA]
@COD_TAREA  INT,
@COD_USUARIO INT
AS
DELETE FROM ASIGNACION_TAREA WHERE COD_TAREA = @COD_TAREA AND COD_USUARIO = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_PROYECTO] 
@COD_PROYECTO INT
AS
DELETE PROYECTO WHERE COD_PROYECTO = @COD_PROYECTO
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ELIMINAR_SUB_PROYECTO] 
@COD_SUB_PROYECTO INT
AS 
DELETE FROM SUB_PROYECTO WHERE COD_SUB_PROYECTO = @COD_SUB_PROYECTO;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_TAREA] 
@COD_TAREA INT
AS 
DELETE FROM TAREA WHERE COD_TAREA = @COD_TAREA;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO] 
@COD_USUARIO INT 
AS
DELETE FROM USUARIO WHERE COD_USUARIO = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_SUB_PROYECTO]
@COD_SUB_PROYECTO INT 
AS SELECT SP.COD_SUB_PROYECTO ,
SP.SPR_NRO_MEJORA,
SP.SPR_DESCRIPCION , 
SP.SPR_FECHA_CREACION , 
PR.PRO_NOMBRE ,
SPR_NOMBRE ,
SP.COD_USUARIO_ENCARGADO,
SP.COD_TIPO_SUB_PROYECTO ,
convert(nvarchar(11),SP.SPR_FECHA_CREACION,101) AS 'FECHA_CREACION' , 
convert(nvarchar(11),SP.SPR_FECHA_INICIO_ESTIMADA,101) AS 'FECHA_INICIO_ESTIMADA' , 
convert(nvarchar(11),SP.SPR_FECHA_FIN_ESTIMADA,101) AS 'FECHA_FIN_ESTIMADA' , 
SP.SPR_FACTURABLE,
SP.SPR_RESUMEN,
TS.TSP_DESCRIPCION,
convert(nvarchar(11),SP.SPR_FECHA_ACTUALIZACION,101) AS 'FECHA_ACTUALIZACION' , 
US.USU_NOMBRE + ' ' + US.USU_APELLIDO AS 'ENCARGADO' , SP.SPR_ESTADO
FROM SUB_PROYECTO AS SP JOIN
USUARIO AS US
ON US.COD_USUARIO = SP.COD_USUARIO_ENCARGADO
JOIN PROYECTO AS PR 
ON PR.COD_PROYECTO = SP.COD_PROYECTO
JOIN TIPO_SUB_PROYECTO TS
ON TS.COD_TIPO_SUB_PROYETO = SP.COD_TIPO_SUB_PROYECTO  WHERE SP.COD_SUB_PROYECTO = @COD_SUB_PROYECTO

GO
/****** Object:  StoredProcedure [dbo].[GENERAR_ANIO_IMPUTACION]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GENERAR_ANIO_IMPUTACION]
@ANIO INT 
AS
DECLARE
 @S NVARCHAR(10) = @ANIO ;
BEGIN
 DELETE FROM IMPUTACION WHERE IMP_ANIO = @ANIO;
 INSERT INTO IMPUTACION VALUES
 ('1'+ @S,'1',@ANIO,1),
 ('2'+ @S,'2',@ANIO,1),
 ('3'+ @S,'3',@ANIO,1),
 ('4'+ @S,'4',@ANIO,1),
 ('5'+ @S,'5',@ANIO,1),
 ('6'+ @S,'6',@ANIO,1),
 ('7'+ @S,'7',@ANIO,1),
 ('8'+ @S,'8',@ANIO,1),
 ('9'+ @S,'9',@ANIO,1),
 ('10'+ @S,'10',@ANIO,1),
 ('11'+ @S,'11',@ANIO,1),
 ('12'+ @S,'12',@ANIO,1);
END
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_ASIGNACION_TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GUARDAR_ASIGNACION_TAREA]
@COD_TAREA  INT,
@COD_USUARIO INT
AS
INSERT INTO ASIGNACION_TAREA VALUES (@COD_TAREA,@COD_USUARIO);
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_IMPUTACION]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GUARDAR_IMPUTACION]
@COD_IMPUTACION NVARCHAR(10),
@MES INT ,
@ANIO INT ,
@ESTADO INT
AS INSERT INTO IMPUTACION VALUES (@COD_IMPUTACION,@MES,@ANIO,@ESTADO);
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_PROYECTO]
@PRO_DESCRIPCION NVARCHAR(200),
@COD_CLIENTE NVARCHAR(200) ,
@COD_USUARIO_JEFE INT ,
@PRO_FECHA DATE,
@PRO_ESTADO INT,
@PRO_CLIENTE_NOMBRE NVARCHAR(200),
@PRO_NOMBRE NVARCHAR(200)
AS 
INSERT INTO PROYECTO (PRO_DESCRIPCION,COD_CLIENTE,COD_USUARIO_JEFE,PRO_FECHA,PRO_ESTADO,PRO_CLIENTE_NOMBRE,PRO_NOMBRE,FECHA_ACTUALIZACION)
VALUES (@PRO_DESCRIPCION,@COD_CLIENTE,@COD_USUARIO_JEFE,@PRO_FECHA,@PRO_ESTADO,@PRO_CLIENTE_NOMBRE,@PRO_NOMBRE,GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_SUB_PROYECTO] 
@SPR_DESCRIPCION NVARCHAR(150),
@COD_PROYECTO INT ,
@SPR__NOMBRE NVARCHAR(150),
@SPR_FECHA_INICIO_ESTIMADA DATE ,
@SPR_FECHA_FIN_ESTIMADA DATE ,
@SPR_FACTURABLE INT ,
@SPR_RESUMEN INT ,
@COD_TIPO_SUB_PROYECTO INT,
@COD_USUARIO_ENCARGADO INT,
@SPR_NRO_MEJORA INT
AS INSERT INTO SUB_PROYECTO
(SPR_DESCRIPCION, --
SPR_FECHA_CREACION, --
COD_PROYECTO, --
SPR_NOMBRE, --
SPR_FECHA_INICIO_ESTIMADA, --
SPR_FECHA_FIN_ESTIMADA, --
SPR_FACTURABLE,
SPR_RESUMEN,
COD_TIPO_SUB_PROYECTO,
SPR_FECHA_ACTUALIZACION,
COD_USUARIO_ENCARGADO,SPR_ESTADO,
SPR_NRO_MEJORA)

VALUES (
@SPR_DESCRIPCION , --
GETDATE() , --
@COD_PROYECTO , --
@SPR__NOMBRE , --
@SPR_FECHA_INICIO_ESTIMADA,
@SPR_FECHA_FIN_ESTIMADA,
@SPR_FACTURABLE,
@SPR_RESUMEN, --
@COD_TIPO_SUB_PROYECTO,
GETDATE(),
@COD_USUARIO_ENCARGADO,1,
@SPR_NRO_MEJORA);
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_TAREA]
@COD_SUB_PROYECTO INT ,
@TAR_DESCRIPCION nvarchar(250) ,
@TAR_HORAS_PLANIFICADAS float,
@TAR_HORAS_IMPUTADAS float,
@TAR_HORAS_ACTUALES float,
@TAR_FECHA_INICIO_ESTIMADA DATE ,
@TAR_FECHA_FIN_ESTIMADA DATE 
AS
INSERT INTO TAREA (
TAR_DESCRIPCION, 
TAR_FECHA,
TAR_HORAS_PLANIFICADAS, 
COD_SUB_PROYECTO, 
TAR_HORAS_IMPUTADAS,
TAR_HORAS_ACTUALES,
TAR_FECHA_INICIO_ESTIMADA,
TAR_FECHA_FIN_ESTIMADA,
TAR_ESTADO)
VALUES (@TAR_DESCRIPCION,GETDATE(),@TAR_HORAS_PLANIFICADAS,@COD_SUB_PROYECTO,@TAR_HORAS_IMPUTADAS,@TAR_HORAS_ACTUALES,@TAR_FECHA_INICIO_ESTIMADA,@TAR_FECHA_FIN_ESTIMADA,1)
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_USUARIO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_USUARIO] 
@NOMBRE NVARCHAR(50),
@APELLIDO NVARCHAR(50),
@CORREO NVARCHAR(50),
@CONTRASENIA NVARCHAR(50),
@ESTADO INT ,
@ROL INT ,
@FECHA_NAC date ,
@HORA_CONTRATADA float ,
@VALOR_HORA float ,
@JEFE int 
AS
DECLARE
@ID NVARCHAR(40)
BEGIN
 
 set @ID =  (SELECT SUBSTRING(@nombre,1, 1) + '' + @APELLIDO FROM USUARIO)
INSERT INTO USUARIO 
(ID ,USU_NOMBRE,USU_APELLIDO,USU_CORREO , USU_CONTRASENIA,USU_ESTADO,
COD_ROL,USU_FECHA_NAC,USU_HORA_CONTRATADA,USU_VALOR_HORA,USU_COD_JEFE)
VALUES (@ID,@NOMBRE,@APELLIDO,@CORREO,@CONTRASENIA,@ESTADO,@ROL,@FECHA_NAC,@HORA_CONTRATADA,@VALOR_HORA,@JEFE);
END;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ANIOS]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ANIOS] 
AS 
SELECT DISTINCT(IMP_ANIO) FROM IMPUTACION
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ASIGNACION]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ASIGNACION]
@COD_TAREA INT 
AS
SELECT US.USU_NOMBRE , US.USU_APELLIDO , US.COD_USUARIO , @COD_TAREA AS 'COD_TAREA' ,
CASE 
WHEN COD_USUARIO = (SELECT COD_USUARIO FROM ASIGNACION_TAREA WHERE COD_TAREA = @COD_TAREA AND COD_USUARIO = US.COD_USUARIO) THEN 'ASIGNADO' ELSE 'NO ASIGNADO' 
END 'ASIGNADO'
FROM USUARIO AS US
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_IMPUTACION]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_IMPUTACION]
@FECHA INT
AS 
SELECT COD_INPUTACION , IMP_MES , IMP_ANIO , IMP_ESTADO FROM IMPUTACION WHERE IMP_ANIO = @FECHA ORDER BY IMP_MES ASC
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LISTAR_PROYECTO]
AS
SELECT PR.COD_PROYECTO , PR.PRO_DESCRIPCION ,
PR.COD_CLIENTE , PR.COD_USUARIO_JEFE , US.USU_NOMBRE , US.USU_APELLIDO , 
US.USU_CORREO , CONVERT(NVARCHAR,PR.PRO_FECHA,23) AS 'PRO_FECHA' , PR.PRO_ESTADO , PRO_CLIENTE_NOMBRE , PRO_NOMBRE, CONVERT(NVARCHAR,FECHA_ACTUALIZACION,23)
FROM PROYECTO AS PR
JOIN USUARIO AS US
ON US.COD_USUARIO = PR.COD_USUARIO_JEFE
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_SUB_PROYECTO]
@COD_PROYECTO INT 
AS SELECT SP.COD_SUB_PROYECTO ,
SP.SPR_NRO_MEJORA,
SP.SPR_DESCRIPCION , 
SP.SPR_FECHA_CREACION , 
PR.PRO_NOMBRE ,
SPR_NOMBRE ,
SP.COD_USUARIO_ENCARGADO,
SP.COD_TIPO_SUB_PROYECTO ,
convert(nvarchar(11),SP.SPR_FECHA_CREACION,101) AS 'FECHA_CREACION' , 
convert(nvarchar(11),SP.SPR_FECHA_INICIO_ESTIMADA,101) AS 'FECHA_INICIO_ESTIMADA' , 
convert(nvarchar(11),SP.SPR_FECHA_FIN_ESTIMADA,101) AS 'FECHA_FIN_ESTIMADA' , 
SP.SPR_FACTURABLE,
SP.SPR_RESUMEN,
TS.TSP_DESCRIPCION,
convert(nvarchar(11),SP.SPR_FECHA_ACTUALIZACION,101) AS 'FECHA_ACTUALIZACION' , 
US.USU_NOMBRE + ' ' + US.USU_APELLIDO AS 'ENCARGADO' , SP.SPR_ESTADO
FROM SUB_PROYECTO AS SP JOIN
USUARIO AS US
ON US.COD_USUARIO = SP.COD_USUARIO_ENCARGADO
JOIN PROYECTO AS PR 
ON PR.COD_PROYECTO = SP.COD_PROYECTO
JOIN TIPO_SUB_PROYECTO TS
ON TS.COD_TIPO_SUB_PROYETO = SP.COD_TIPO_SUB_PROYECTO  WHERE SP.COD_PROYECTO = @COD_PROYECTO;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_TAREAS]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_TAREAS]
@COD_SUB_PROYECTO INT 
AS
SELECT 
TR.COD_TAREA ,
TR.TAR_DESCRIPCION , 
CONVERT(NVARCHAR,TR.TAR_FECHA,101) as 'TAR_FECHA', 
TR.TAR_HORAS_PLANIFICADAS , 
TR.COD_SUB_PROYECTO ,
TR.TAR_HORAS_IMPUTADAS ,
TR.TAR_HORAS_ACTUALES , 
CONVERT(NVARCHAR,TR.TAR_FECHA_INICIO_ESTIMADA,101) as 'TAR_FECHA_INICIO_ESTIMADA' ,
CONVERT(NVARCHAR,TR.TAR_FECHA_FIN_ESTIMADA,101) as 'TAR_FECHA_FIN_ESTIMADA' ,
(SELECT COUNT(*) AS 'TOTAL' FROM ASIGNACION_TAREA WHERE COD_TAREA = TR.COD_TAREA )  AS 'TOTAL_USUARIO',
TAR_ESTADO FROM 
TAREA AS TR WHERE COD_SUB_PROYECTO = @COD_SUB_PROYECTO 
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_UN_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_UN_PROYECTO]
@COD_PROYECTO INT 
AS
SELECT PR.COD_PROYECTO , PR.PRO_DESCRIPCION ,
PR.COD_CLIENTE , PR.COD_USUARIO_JEFE , US.USU_NOMBRE , US.USU_APELLIDO , 
US.USU_CORREO , PR.PRO_FECHA , PR.PRO_ESTADO ,  PRO_NOMBRE, CONVERT(NVARCHAR,FECHA_ACTUALIZACION,23)
FROM PROYECTO AS PR
JOIN USUARIO AS US
ON US.COD_USUARIO = PR.COD_USUARIO_JEFE WHERE PR.COD_PROYECTO = @COD_PROYECTO
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_UN_USUARIO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_UN_USUARIO]
@COD_USUARIO INT
AS
SELECT COD_USUARIO , USU_NOMBRE , USU_APELLIDO , USU_CORREO , USU_CONTRASENIA , USU_ESTADO , COD_ROL ,
USU_FECHA_NAC , USU_HORA_CONTRATADA , USU_VALOR_HORA ,USU_COD_JEFE FROM USUARIO WHERE COD_USUARIO = @COD_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LISTAR_USUARIOS]
AS
SELECT USU.COD_USUARIO , USU.USU_NOMBRE, USU.USU_APELLIDO , USU.USU_CORREO , USU.USU_ESTADO , USU.COD_ROL , 
USU.USU_CONTRASENIA ,
convert(nvarchar(11),USU.USU_FECHA_NAC,101) as 'USU_FECHA_NAC' , USU.USU_HORA_CONTRATADA , USU.USU_VALOR_HORA ,USU.USU_COD_JEFE , JEF.USU_NOMBRE + ' ' + JEF.USU_APELLIDO AS 'JEFE' FROM USUARIO AS USU
JOIN USUARIO AS JEF 
ON JEF.COD_USUARIO = USU.USU_COD_JEFE
GO
/****** Object:  StoredProcedure [dbo].[LOGIN]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN] 
@CORREO nvarchar(200),
@CONTRASENIA nvarchar(200)
AS
DECLARE
@EXITS INT;
BEGIN
	SET @EXITS = (SELECT COUNT(*) FROM USUARIO WHERE USU_CORREO = @CORREO AND USU_CONTRASENIA = @CONTRASENIA AND USU_ESTADO = 1);
	IF @EXITS = 1
		 SELECT COD_USUARIO AS 'RESULTADO' , COD_ROL AS 'ROL'  FROM USUARIO WHERE USU_CORREO = @CORREO AND USU_CONTRASENIA = @CONTRASENIA AND USU_ESTADO = 1;
	ELSE
		 SELECT 0  as 'RESULTADO' ;
END;
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_PROYECTO]
@COD_PROYECTO INT,
@PRO_DESCRIPCION NVARCHAR(100),
@COD_CLIENTE NVARCHAR(100),
@COD_USUARIO_JEFE INT ,
@PRO_FECHA DATE ,
@PRO_ESTADO INT ,
@PRO_CLIENTE_NOMBRE NVARCHAR(200) , 
@PRO_NOMBRE NVARCHAR(150)
AS
UPDATE PROYECTO SET PRO_DESCRIPCION = @PRO_DESCRIPCION , COD_CLIENTE = @COD_CLIENTE , COD_USUARIO_JEFE = @COD_USUARIO_JEFE ,
PRO_FECHA = @PRO_FECHA , PRO_ESTADO = @PRO_ESTADO , PRO_CLIENTE_NOMBRE  = @PRO_CLIENTE_NOMBRE , PRO_NOMBRE = @PRO_NOMBRE  WHERE COD_PROYECTO = @COD_PROYECTO
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_SUB_PROYECTO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_SUB_PROYECTO] 
@SPR_DESCRIPCION NVARCHAR(150),
@COD_PROYECTO INT ,
@SPR__NOMBRE NVARCHAR(150),
@SPR_FECHA_INICIO_ESTIMADA DATE ,
@SPR_FECHA_FIN_ESTIMADA DATE ,
@SPR_FACTURABLE INT ,
@SPR_RESUMEN INT ,
@COD_TIPO_SUB_PROYECTO INT,
@COD_USUARIO_ENCARGADO INT,
@COD_SUB_PROYECTO INT , 
@ESTADO INT ,
@SPR_NRO_MEJORA INT
AS
UPDATE SUB_PROYECTO 
SET SPR_DESCRIPCION = @SPR_DESCRIPCION ,
COD_PROYECTO = @COD_PROYECTO , 
SPR_NOMBRE = @SPR__NOMBRE ,
SPR_FECHA_INICIO_ESTIMADA = @SPR_FECHA_INICIO_ESTIMADA ,
SPR_FECHA_FIN_ESTIMADA = @SPR_FECHA_FIN_ESTIMADA ,
SPR_FACTURABLE = @SPR_FACTURABLE ,
SPR_RESUMEN = @SPR_RESUMEN ,
COD_TIPO_SUB_PROYECTO = @COD_TIPO_SUB_PROYECTO ,
COD_USUARIO_ENCARGADO = @COD_USUARIO_ENCARGADO , SPR_ESTADO = @ESTADO , SPR_NRO_MEJORA =  @SPR_NRO_MEJORA WHERE COD_SUB_PROYECTO = @COD_SUB_PROYECTO ;
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_TAREA]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_TAREA] 
@COD_SUB_PROYECTO INT ,
@TAR_DESCRIPCION nvarchar(250) ,
@TAR_HORAS_PLANIFICADAS float,
@TAR_HORAS_IMPUTADAS float,
@TAR_HORAS_ACTUALES float,
@TAR_FECHA_INICIO_ESTIMADA DATE ,
@TAR_FECHA_FIN_ESTIMADA DATE ,
@TAR_ESTADO INT ,
@COD_TAREA INT
AS
UPDATE TAREA SET COD_SUB_PROYECTO = @COD_SUB_PROYECTO , TAR_DESCRIPCION = @TAR_DESCRIPCION , TAR_HORAS_PLANIFICADAS = @TAR_HORAS_PLANIFICADAS ,
TAR_HORAS_IMPUTADAS = @TAR_HORAS_IMPUTADAS , TAR_HORAS_ACTUALES = @TAR_HORAS_ACTUALES , TAR_FECHA_INICIO_ESTIMADA = @TAR_FECHA_INICIO_ESTIMADA , TAR_FECHA_FIN_ESTIMADA = @TAR_FECHA_FIN_ESTIMADA , TAR_ESTADO = @TAR_ESTADO 
WHERE COD_TAREA = @COD_TAREA;
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_USUARIO]    Script Date: 13-01-2021 10:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_USUARIO] 
@NOMBRE NVARCHAR(50),
@APELLIDO NVARCHAR(50),
@CORREO NVARCHAR(50),
@CONTRASENIA NVARCHAR(50),
@ESTADO INT ,
@ROL INT,
@COD_USUARIO INT,
@FECHA_NAC date ,
@HORA_CONTRATADA float ,
@VALOR_HORA float ,
@JEFE int 
AS
UPDATE USUARIO SET USU_NOMBRE = @NOMBRE , USU_APELLIDO = @APELLIDO , USU_CORREO = @CORREO , USU_CONTRASENIA = @CONTRASENIA ,
USU_ESTADO = @ESTADO , COD_ROL = @ROL , USU_FECHA_NAC = @FECHA_NAC , USU_HORA_CONTRATADA = @HORA_CONTRATADA ,
USU_VALOR_HORA = @VALOR_HORA , USU_COD_JEFE = @JEFE WHERE COD_USUARIO = @COD_USUARIO;
GO
